@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0;
    margin: 0;
}


.perfume {
    width: 100%;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfume_item {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 450px;
}


.perfume_img {
    border-top-left-radius: 80px;
}

.perfume_img img {
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.perfume_side {
    padding: 40px 40px 0px 30px;
    background-color: hsl(0, 0%, 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;   
}

.perfume_title {
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
}

.perfume_name {
    font-family: 'Fraunces';
    margin-top: 25px;
    font-size: 30px;
    color: hsl(158, 42%, 18%);
    font-weight: 700;
}


.perfume_descr {
    margin-top: 25px;
    font-size: 17px;
    color: hsl(228, 12%, 48%);
    line-height: 23px;
}

.perfume_price {
    margin-top: 15px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.perfume_price-new {
    font-family: 'Fraunces';
    font-weight: 500;
    color: hsl(158, 36%, 37%);
    font-size: 30px;

}

.perfume_price-old {
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
}

.btn {
    margin-top: 20px;
    background-color: hsl(158, 36%, 37%);
    width: 240px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
}

.btn img {
    position: relative;
    margin: 0 5px;
    top: 3px;
}

.btn:hover {
    baccolor: hsl(158, 42%, 18%);
}